@font-face {
    font-family: "Icing soda2";
    src: url("Icing\ soda2_濃.ttf");
  }
@font-face {
    font-family: "utsukushiFont";
    src: url("UtsukushiFONT.otf");
  }
.huifont{font-family:Icing soda2}
.envelope{
    height: 180px;
    width:500px;
    margin-left:2em;
    margin-top: 2em;
    padding-top: 1em;
    color:#795548;  
    text-align: center;  
    padding-left: 55px;
}
.envelope_BK{
    height: 200px;
    border: 16px solid transparent;
    background: linear-gradient(#fff, #fff) padding-box,
    repeating-linear-gradient(-45deg, #F44336 0, #F44336 12.5%, transparent 0 , transparent 25%, #2196F3 0, #2196F3 37.5%, transparent 0 , transparent 50%) 0 / 5em 5em;
    position:relative;
    width:500px;
    margin:2em;
    padding:2em;
    padding-top: 1em;
    transform: rotate(-2deg);
    box-shadow:1px 1px 4px rgba(0,0,0,0.2);
    color:#795548;    
}
.big {
    font-size:68px;
}
.small {
    font-size: x-large;
}

.wrapper {
    box-shadow:1px 1px 4px rgba(0,0,0,0.2);
    border: 5px;
    width: 715px;
    height: 960px;
    background-image: url("back-img.jpg");
    background-size: contain;
    padding: 8px;

}

.event-details {
    position: relative; /* 要素を相対位置指定 */
    padding: 10px; /* 内側の余白 */
    border: 5px ridge gold; /* ゴールド色の境界線 */
    display: inline-block; /* 適切な幅に調整 */
    margin-top: 10px; /* 上部の余白 */
    width:450px;
    margin-left: 110px;
    background-color: white;
    font-size:20px;
}
.event-details span {
   background:linear-gradient(transparent 60%, pink 60%);   
}

.meeple {
position: absolute; /* 絶対位置指定 */
width: 100px; /* 花の画像の幅 */
height: auto; /* 高さは自動調整 */
}

.top-right {
top: -40px; /* 上端から-25px（枠をはみ出して配置） */
right: -45px; /* 右端から-25px（枠をはみ出して配置） */
}

.bottom-left {
bottom: -25px; /* 下端から-25px（枠をはみ出して配置） */
left: -25px; /* 左端から-25px（枠をはみ出して配置） */
}
.message {
    text-align: center;
}
.message span {
    background-color: #fff;
}
.icefont {
    font-family:"Icing soda2";
}
.utsukushiFont {
    font-family: "utsukushiFont";
}
.event-title {
    text-align: right;
}

.yellow-line {
    background:linear-gradient(transparent 60%, #ff6 60%);
}
.right {
    text-align: right;
    margin-right: 100px;
}